* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

header {
    width: 100%;
    background: #f1aa97;    
    position: fixed;
}

/*imagem do header*/
header div {
    display: flex;
    justify-content: center;
    height:100px;
}

/*menu*/
.menu {
    background: #f58d70;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu ul li { 
    margin: 10px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
}

.menu a:hover {
    background: white;
    box-shadow: 3px -3px 3px tomato;
}

/*primeira section*/
.sobrenos {
    height: 250px; /*altura*/
    background: url(imagens/fundo_doces1.jpg); /*img de fundo*/
    background-size: cover; /*para a img de fundo cobrir a tela toda*/
    display: flex;
    flex-direction: column; /*h1 e p ficarem um embaixo do outro*/
    justify-content: center; /*ficarem no centro na vertical*/
    align-items: center; /*ficarem no centro na horizontal*/
    padding-top: 150px; /*para não ficar embaixo do menu*/
}
.sobrenos h1, .sobrenos h2 {
    background: rgba(255, 255, 255, 0.900);
    font-size: 30px;
    color: rgb(218, 18, 51);
}

.sobrenos p {
    background: rgba(255, 255, 255, 0.900);
    font-size: 26px;
}

/*segunda section*/
.texto {
    text-align: center;
    padding: 15px;
    background: #f58d70;
}

.imagens {
    background: #f1aa97;
    display: flex;
    flex-flow: row wrap; /*organização em Linha e quebra linha*/
    justify-content: space-around; /*Alinha os itens no eixo horizontal com espaço entre as imagens*/
}

.imagens img {
    height: 250px;
    margin: 10px 0; /*para separarar a primeira linhad de img da segunda linha*/
}

/*terceira section - missão*/
.missao {
    background: #f1aa97;
    display: flex;
    flex-flow: row;
    padding: 30px 60px;
}

.missao p{
    margin: 60px;
    font-size: 24px;
}

/*quarta section*/
footer {
    padding: 10px;
    text-align: center;
    background: #f58d70;
}